body {
    font-family: Arial, sans-serif;
}

.card {
    margin-bottom: 20px;
}


.card-img-top {
    width: 50%;
    height: 100px; /* Ajusta la altura según lo necesites */
    object-fit: cover; /* Esto mantiene la proporción y recorta el exceso */
}
